{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    <nav>
        <a href="{{ path('app_login') }}">Connectez-vous</a>
        <a href="{{ path('app_register') }}">Créez votre compte</a>
    </nav>
{% endblock %}
