html, body {
    height: 100%;
}

body {
    background-color: #FFF;
    font-family: 'Raleway', sans-serif;
    padding: 0;
    background: url("../img/pattern.png");
}

a {
    text-decoration: none;
}

nav a {
    padding: 10px;
    display: block;
}

.container {
    padding: 5px 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    h1 {
        font-size: 1.2rem;
        font-weight: normal;
        margin: 0 0 8px 0;
    }
}

.user-line {
    margin-top: 30px;

    .username {
        margin-bottom: 4px;
    }
}

.task-progress {
    font-size: 0.8rem;
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    background-color: #FFF;

    .tasks-container {
        display: flex;
    }

    .task-step {
        padding: 4px 8px;
        cursor: pointer;
        flex: 1 1 0px;
        box-sizing: border-box;
        text-align: center;
        border-bottom: 1px solid #DDD;
        margin: 0 1px;
    }

    .task-step:hover,
    .task-step.is-complete:hover {
        background-color: #5eb5e0;
    }

    .task-step.is-complete {
        background-color: #718C00;
        color: #FFF;
    }

    .module-number {
        padding: 4px 8px;
        text-align: center;
    }

    .module-container {
        flex: 1 1 0px;
        margin-right: 3px;
    }

    .module-container:nth-child(odd) {
        background-color: #FFF;
    }

}

form label, form button {
    display: block;
    margin-top: 5px;
}

#limit-bar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 200px;
    width: 2px;
    height: 100vh;
    background-color: #718C00;
    opacity: 0.2;
}