{% set user = app.user %}
<div class="current-user user-line">
    {% include('api/task.inc.html.twig') %}
</div>

{% for user in users %}
    {% if user != app.user %}
        <div class="user-line">
            {% include('api/task.inc.html.twig') %}
        </div>
    {% endif %}
{% endfor %}
